<div class="container">
    <h2 class="pl-30 mt-5 mb-3">Movie Details</h2>
    <div *ngIf="movie" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text">Director: {{ movie.director }}</p>
        <p class="card-text">Date: {{ movie.date }}</p>
        <a href="#" class="btn btn-primary">To the Main page</a>
      </div>
    </div>
    <div *ngIf="!movie" class="alert alert-warning mt-3">
      Warning: Unknown Movie selected.
    </div>
    <button class="btn btn-danger mx-2" (click) = "onDel()">Delete</button>
  </div>